/* src/app/globals.css */
@import "tailwindcss";

:root {
  --background: #FEFEF2;
  --foreground: #171717;
  --paper: #fffdf4;
  --yellow: #F1C44A;
  --red: #AD2F2F;
  --orange: #EE7533;
  --green: #506B3F;
  --blue: #454C9B;
  --leafgreen: #407E40;
}
.font-garamond {
  font-family: var(--font-garamond), serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}



html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
}